.header {
  padding: 30px 30px 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
  }


  &__arrow {
    margin-right: 35px;
    cursor: pointer;

    svg {
      fill: var(--font-color);
    }
  }

  &__actions {
    display: flex;
  }

  &__switcher {
    margin-right: 30px;
  }

  &__alert-btn {
    margin-right: 18px;
  }
}
