.Header {
  padding: 30px 30px 0 30px;
  max-height: 75px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {

  }

  &__actions {
    display: flex;

    .switcher {
      margin-right: 30px;
    }

    .alertBtn {
      margin-right: 18px;
    }
  }
}
