.Text {
  font-weight: normal;

  p {
    padding: 0;
    margin: 0;
  }
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.default {
  color: inherit;
}

.success {
  color: var(--success-color);
}

.danger {
  color: var(--danger-color);
}
