.text {
  p {
    padding: 0;
    margin: 0;
  }

  &_light {
    font-weight: 300;
  }

  &_normal {
    font-weight: 400;
  }

  &_medium {
    font-weight: 500;
  }

  &_semi {
    font-weight: 600;
  }

  &_bold {
    font-weight: 700;
  }

  &_left {
    text-align: left;
  }

  &_center {
    text-align: center;
  }

  &_right {
    text-align: right;
  }

  &_default {
    color: inherit;
  }


  &_primary {
    color: var(--primary-color);
  }

  &_success {
    color: var(--success-color);
  }

  &_gray {
    color: var(--gray-color);
  }

  &_dark {
    color: var(--light-dark);
  }

  &_danger {
    color: var(--danger-color);
  }
}
