.Text {


  p {
    padding: 0;
    margin: 0;
  }
}

.light {
  font-weight: 300;
}

.normal {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semi {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.default {
  color: inherit;
}


.primary {
  color: var(--primary-color);
}

.success {
  color: var(--success-color);
}

.gray {
  color: var(--gray-color);
}

.dark {
  color: var(--light-dark);
}

.danger {
  color: var(--danger-color);
}
