.SignUpForm {
  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    margin-top: 30px;
  }

  &__subtitle {
    margin-top: 10px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    max-width: 325px;
  }

  &__question {
    margin-top: 20px;
  }

  &__input {
    max-width: 100%;
    margin-top: 20px;
  }

  &__btn {
    margin-top: 57px;
  }

  &__loginLink {
    margin-top: 5px;
  }
}
