.NotFoundPage {
  height: calc(100% - 75px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__image {
    max-width: 600px;
    max-height: 360px;
  }

  &__text {
    margin-top: 80px;
  }

  &__subtext {
    max-width: 604px;
    margin-top: 33px;
  }

}
