.ArticleListItem {
  max-width: 100%;
  width: 100%;
  height: 100%;
  padding: 30px;
  border-radius: 16px;
  background-color: var(--alternative-color);

  &__header {
    display: flex;
    align-items: flex-start;

    .title {
      margin-left: 17px;
    }

    .status {
      margin-top: 5px;
      color: var(--gray-color);
    }

    .time {
      margin-left: auto;
      color: var(--gray-color);
    }
  }

  &__content {
    margin-top: 15px;
  }

  @media only screen and (max-width: 1680px) {
    //max-height: 260px;
    //height: 260px;
  }
  @media only screen and (max-width: 1240px) {
    max-height: 215px;
    height: 215px;
  }
}
