.ArticleListItem {
  max-height: 210px;
  max-width: 410px;
  min-width: 410px;
  width: 100%;
  height: 100%;
  padding: 30px;
  border-radius: 16px;
  background-color: var(--alternative-color);

  &__header {
    display: flex;
    align-items: flex-start;

    .title {
      margin-left: 17px;
    }
    .status{
      margin-top: 5px;
      color: var(--gray-color);
    }
    .time {
      margin-left: auto;
      color: var(--gray-color);
    }
  }

  &__content {
    margin-top: 15px;
  }
}
