.about-pet-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  &__title {
    margin-bottom: 50px;
  }

  &__group-input-switch {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }

  &__input-full-width {
    max-width: 100%;
    width: 100%;
    margin-right: 40px;
  }

  &__textarea {
    max-width: 100%;
    width: 100%;
    margin-bottom: 40px;
  }

  &__group-radio {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;


    @media only screen and (max-width: 605px) {
      align-items: flex-start;
      flex-direction: column;
    }
  }

  &__radio {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 30px;

    & > *:first-child {
      margin-right: 10px;
    }

    @media only screen and (max-width: 605px) {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }
}
