.ChatPage {
  width: 100%;
  height: calc(100% - 75px);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 80px 25px 25px 25px;

  &__menu {
    margin-right: 40px;

    @media only screen and (max-width: 1180px) {
      width: 100%;
      max-width: 100%;
      margin: 0;
    }
  }

  &__chat {

  }
}
