.ChatPage {
  width: 100%;
  height: calc(100% - 75px);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 80px 25px 25px 25px;

  &__menu {
    margin-right: 40px;
  }

  &__chat {


  }
}
