$trans-time: 300ms;

.Input {
  position: relative;
  max-width: 240px;
  max-height: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;

  input {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    padding: 0 8px;
    font-size: 14px;
    color: var(--secondary-color);
    background: none;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid var(--secondary-color);

    &:focus {
      outline: none;
    }

    &:focus ~ .label {
      top: -3px;
      font-size: 10px;
    }

    &:focus ~ .bar:before {
      width: 100%;
    }

    &:not(:placeholder-shown) ~ .label {
      top: -3px;
      font-size: 10px;
    }

    &[type="password"] {
      letter-spacing: 0.3em;
    }
  }

  .label {
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 8px;
    top: 8px;
    transition: $trans-time ease all;
  }

  .bar {
    position: relative;
    display: block;
    width: 100%;

    &:before {
      content: '';
      height: 2px;
      width: 0;
      bottom: 0;
      position: absolute;
      background: var(--primary-color);
      transition: $trans-time ease all;
      left: 0;
    }
  }

  .errorText {
    max-height: 12px;
    min-height: 12px;
    line-height: 12px;
  }
}

.invalid {
  .label {
    color: var(--danger-color);
  }

  .bar:before {
    width: 100%;
    background: var(--danger-color);
  }
}

.success {
  .label {
    color: var(--success-color);
  }

  .bar:before {
    width: 100%;
    background: var(--success-color);
  }
}
