.PetDetailsPage {
  position: relative;
  height: calc(100% - 75px);
  padding: 80px 30px 30px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__image {
    max-width: 710px;
  }

  &__details {
    margin-left: 40px;
  }

  @media only screen and (max-width: 1290px) {
    flex-direction: column;

    &__image {
      max-width: 100%;
      margin-bottom: 30px;
    }
    &__details {
      margin-left: 0;
    }
  }
}
