.UserGreetings {
  position: relative;
  max-height: 315px;
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--purple-gradient);
  border-radius: 16px;
  padding-left: 30px;
  overflow: hidden;
  color: #FFF;

  &__texts {

  }

  &__firstRecommendation {
    margin-top: 20px;
  }

  &__secondRecommendation {
    margin-top: 10px;
  }

  &__background {
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
  }
}
