.CreatePetFooter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;

  &__btn {
    max-width: 270px;
    width: 100%;

    &-right {
      margin-left: auto;
    }
    &-auto{
      margin: 0 auto;

    }
  }


}
