.Select {
  position: relative;
  width: 240px;

  &__header {
    position: relative;
    width: 100%;
    height: 36px;
    border-bottom: 1px solid var(--secondary-color);
    cursor: pointer;

    .name {
      font-size: 14px;
      font-weight: 400;
      position: absolute;
      left: 8px;
      top: 8px;
      color: var(--secondary-color);
      transition: all 300ms ease;
    }

    .nameTop {
      font-size: 10px;
      transform: translateY(-10px);
    }

    .text {
      position: absolute;
      font-size: 14px;
      font-weight: 400;
      left: 8px;
      top: 8px;
      color: var(--secondary-color);
    }

    .arrow {
      position: absolute;
      width: 12px;
      height: 12px;
      margin-top: auto;
      margin-bottom: auto;
      top: 0;
      bottom: 0;
      right: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform 300ms ease;

      svg {
        fill: var(--secondary-color);
      }
    }
  }

  &__content {
    max-height: 240px;
    position: absolute;
    top: 36px;
    left: 0;
    background-color: #FFF;
    overflow-y: auto;
    width: 100%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 2px 2px;
    z-index: 3;

    .list {
      list-style: none;
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0;
    }


    .item {
      color: #334155;
      font-size: 14px;
      height: 21px;
      margin-bottom: 10px;
      padding: 0 8px;
      cursor: pointer;
      transition: background-color 300ms ease;
      display: flex;
      align-items: center;

      &:hover {
        background-color: rgba(76, 111, 255, .3)
      }

      &:first-child {
        margin-top: 8px;
      }

      &:last-child {
        margin-bottom: 8px;
      }
    }

    .itemActive {
      color: var(--primary-color);
    }
  }
}

.open {
  .name {
    font-size: 10px;
    transform: translateY(-10px);
  }

  .arrow {
    transform: rotate(180deg);
  }
}
