.app_light_theme {
  --primary-color: #4C6FFF;
  --secondary-color: #0F172A;
  --font-color: #17171B;
  --gray-color: #96A7AF;
  --light-dark: #334155;
  --alternative-color: #FFFFFF;
  --bg-color: #EDF2F7;
}
