.CreatePetForm {
  max-width: 710px;
  max-height: 660px;
  height: 100%;
  width: 100%;
  border-radius: 16px;
  background-color: var(--alternative-color);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    margin-bottom: 50px;
  }

  &__form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .groupInputSwitch {
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 40px;
    }

    .inputFullWidth {
      max-width: 100%;
      width: 100%;
      margin-right: 40px;
    }

    .textarea {
      max-width: 100%;
      width: 100%;
      margin-bottom: 40px;
    }

    .groupRadio {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .radio {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-right: 30px;

        & > *:first-child {
          margin-right: 10px;
        }
      }
    }
  }

  &__secondForm {
    height: 100%;

    .subtitle {
      margin-bottom: 50px;
    }

    .imgArea {
      width: 100%;
      height: 300px;
      border: 1px dashed var(--secondary-color);
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &__text {
        max-width: 200px;
        text-align: center;
      }
    }
  }

  &__thirdForm {
    height: 100%;

    .title {
      margin-bottom: 50px;

    }

    .subtitle {
      margin-bottom: 15px;
    }

    .config {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      &__inputs {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-left: 30px;

        .full {
          flex-grow: 1;
        }

        .input {
          max-width: 154px;
          max-height: 37px;
        }

        & > * {
          margin-bottom: 30px;
        }
      }
    }
  }

  &__resultForm {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .icon {
      max-height: 180px;
      max-width: 180px;
      height: 100%;
      width: 100%;
    }
  }
}
