.create-pet-form {
  max-width: 710px;
  max-height: 660px;
  height: 100%;
  width: 100%;
  border-radius: 16px;
  background-color: var(--alternative-color);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__result-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  @media only screen and (max-width: 650px) {
    height: auto;
    max-height: fit-content;
  }
}
