.UserTime {
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  &__block {
    max-height: 137px;
    height: 100%;
    width: 100%;
    padding: 30px;
    background-color: var(--alternative-color);
    border-radius: 16px;
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__title {

  }

  &__icon {
    width: 32px;
    height: 32px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 10px;
  }

  &__text {
    margin-top: 13px;
  }

  @media only screen and (max-width: 1680px) {
    &__block {
      max-height: 120px;
    }
    &__text {
      p {
        font-size: 24px !important;
      }
    }
  }

  @media only screen and (max-width: 1240px) {
    &__block {
      border-radius: 16px 16px 0 0;
      padding: 15px;

      &:last-child {
        border-radius: 0 0 16px 16px;
        padding-top: 0;
      }
    }
  }
}


