.ChatHeader {
  max-height: 50px;
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
  border-radius: 13px 13px 0 0;
  padding: 15.5px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    display: flex;
    align-items: center;


  }

  &__arrow {
    display: none;
    cursor: pointer;
    margin-right: 20px;

    svg {
      fill: #FFF;
    }

    @media only screen and (max-width: 1180px) {
      display: flex;
    }
  }

  &__text {
    color: #FFF;
  }

  &__iconBtn {
    width: 16px;
    height: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
