.ChatContent {
  width: 100%;
  height: 100%;
  padding: 15px 30px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &__message {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 23px;

    &-fromUser {
      justify-content: flex-end;
      .ChatContent__content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }

      .ChatContent__text {
        padding: 12px;
        background: var(--primary-color);
        border-radius: 13px 13px 0 13px;
        border: none;
        color: #FFF;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__text {
    padding: 12px;
    border: 2px solid var(--primary-color);
    border-radius: 13px 13px 13px 0;
  }

}
