.profile-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > div {
    max-height: 72px;
    width: 100%;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
