.StartPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  &__wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

    .name{
      margin-top: 32px;
    }
    .description{
      margin-top: 6px;
      margin-bottom: 132px;
      width: 278px;
    }

    .question{
      margin-top: 18px;
    }

    .linkToSigIn{
      margin-top: 5px;
    }
  }

}
